.report_head_div {
  min-height: 60px;
  zoom: 0.5;

  & > div:has(.report_menu_year_combo) {
    display: inline-flex !important;
    align-items: center;
    gap: 8px;
    height: 100%;
    margin-left: 5px !important;
    padding-top: 0 !important;
    font-size: 18px !important;

    .report_menu_year_combo {
      height: 34px;
      padding: 0 var(--gap-small);
      border: 1px solid var(--input-default-border) !important;
      background-color: var(--input-default) !important;
      border-radius: 8px;
      color: var(--text-default);
      text-align: center;
      font-size: 16px !important;
    }

    span {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  & > div:has(.report_menu_regno_checkbox) {
    position: absolute;
    top: 100%;
    left: 0;
    display: inline-flex !important;
    align-items: center;
    gap: 8px;
    height: 100%;
    margin-left: 5px !important;
    padding-top: 0 !important;
    font-size: 18px !important;

    .report_menu_regno_checkbox {
      appearance: none;
      -webkit-appearance: none;

      width: 24px;
      height: 24px;

      martin-top: 0 !important;

      border: 1px solid #B1B6BF;
      border-radius: 8px;
      background: #fff;
      cursor: pointer;

      position: relative;

      &:checked{
        background:#ffdd00;
        border-color:#FFE74D;

        &::after {
          content: "";
          position: absolute;
      
          left: 8px;
          top: 3px;
      
          width: 6px;
          height: 12px;
      
          border: solid #111;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }

    label,
    span {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
.report_head_center_div {
  display: flex;
  justify-content: center;
}
.report_head_div p {
  display: none;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (min-width: 1024px) {
  .report_head_div {
    zoom: unset;

  & > div:has(.report_menu_regno_checkbox) {
      position: static;
      top: auto;
      left: auto;
      margin-left: 20px !important;
    }
  }
  .report_head_div p {
    display: block;
  }
}

.report_page_info_div {
  min-height: 34px;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
}
.m_eform_menu_button {
  width: 28px;
}
.m_eform_menu_button,
.eform_menu_button,
.report_menu_button {
  height: 28px;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #646d78 !important;
  border: 0 none !important;
  color: #ffffff !important;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.eform_menu_button:hover,
.report_menu_button:hover {
  background-color: #40474e !important;
  border-color: #40474e !important;
  color: #e3e5e8 !important;
}
.m_eform_menu_save_button,
.eform_menu_save_button,
.report_menu_save_button {
	background-image: url(../assets/img/report/save.png);
}
.m_eform_menu_print_button,.eform_menu_print_button,
.report_menu_print_button {
  background-image: url(../assets/img/report/print.png);
}
.m_eform_menu_leftEnd_button,.eform_menu_leftEnd_button,
.report_menu_first_button {
  background-image: url(../assets/img/report/first.png);
}
.m_eform_menu_left_button,.eform_menu_left_button,
.report_menu_prev_button {
  background-image: url(../assets/img/report/prev.png);
}
.m_eform_menu_right_button,.eform_menu_right_button,
.report_menu_next_button {
  background-image: url(../assets/img/report/next.png);
}
.m_eform_menu_rightEnd_button,.eform_menu_rightEnd_button,
.report_menu_last_button {
  background-image: url(../assets/img/report/last.png);
}
.report_menu_info_button {
  background-image: url(../assets/img/report/info.png);
}
.m_eform_menu_doodle_button,
.eform_menu_doodle_button {
  background-image: url(../assets/img/report/pen.png);
}

.m_eform_menu_sign_button,
.eform_menu_sign_button,
.m_eform_menu_complet_button,
.eform_menu_complet_button,
.report_menu_close_button {
  appearance: none;
  border-width: 1px;
  border-style: solid;
  background-color: #ffdd00 !important;
  border-color: #ffdd00 !important;
  color: #111111 !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  max-width: max-content;
  height: 34px;
  max-height: 34px;
  padding: 0 27px;
  font-family: PretendardGOV,    Pretendard,    -apple-system,    BlinkMacSystemFont,    "Segoe UI",    Roboto,    "Helvetica Neue",    Arial,    "Apple SD Gothic Neo",    "Noto Sans KR",    "Malgun Gothic",    sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 8px;
  top: 50% !important;
  bottom: auto !important;
  right: 40px;
  transform: translateY(-50%);
}
.m_eform_menu_sign_button,
.eform_menu_sign_button,
.m_eform_menu_complet_button,
.eform_menu_complet_button {
  height: 28px;
  max-height: 28px;
  text-align: center;
  font-size: 14px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.m_eform_menu_sign_button i,
.eform_menu_sign_button i,
.m_eform_menu_complet_button i 
.eform_menu_complet_button i {
  display: none;
}
.eform_menu_sign_button:hover,
.eform_menu_complet_button:hover,
.report_menu_close_button:hover {
  background-color: #c2a800 !important;
  border-color: #c2a800 !important;
  color: #2e2800 !important;
}

.report_body_div {
  top: 60px !important
}

/*현재 페이지 정보 관련 Input*/
.report_current_page_info_input {
  -webkit-appearance: none;
  position: absolute;
  top: 50% !important;
  bottom: auto !important;
  transform: translateY(-50%);
  width: 48%;
  height: 100%;

  padding: 0 var(--gap-small);
  border: 1px solid var(--input-default-border) !important;
  background-color: var(--input-default) !important;
  border-radius: 8px;
  color: var(--text-default);
  text-align: center;
}

/* 사인패드 */
.eform_sign_background {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.eform_sign_div {
  border: 0 none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.05);
  background-color: #f1f2f4;
}
.m_eform_sign_button,
.eform_sign_button {
  border-width: 1px;
  border-style: solid;
  background-color: #ffdd00 !important;
  border-color: #ffdd00 !important;
  color: #111111 !important;
}
.m_eform_sign_cancel,
.eform_sign_cancel {
  background: #ffffff !important;
  border-color: #a5acb5 !important;
  color: #2e3338 !important;
}
.m_eform_sign_paint,
.eform_sign_paint {
  border-color: #cdd0d6 !important;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}