<div class="my-amount-box {variantClass}" role="group" aria-label="금액 요약">
  <div class="my-amount-box__row">
    <span class="my-amount-box__label">{label1}</span>
    <span class="my-amount-box__value">{value1}</span>
  </div>
  <div class="my-amount-box__row">
    <span class="my-amount-box__label">{label2}</span>
    <span class="my-amount-box__value">{value2}</span>
  </div>
  <div class="line-divider" aria-hidden="true"></div>
  <div class="my-amount-box__row my-amount-box__row--emphasis my-amount-box__row--label-default">
    <span class="my-amount-box__label">{label3}</span>
    <span class="my-amount-box__value">{value3}</span>
  </div>
</div>
