<div class="file-list-container {variantClass}" aria-label="첨부파일 목록">
  <div class="detail-view--content-file-list">
    <div class="detail-view--content-file-list-item">
      <span class="detail-view--content-file-list-item-name">
        <svg class="icon icon--20" aria-hidden="true">
          <use href="#icon-attach"></use>
        </svg>
        {file1}
      </span>
      <div class="action-list">
        <a class="btn btn--text" href="{downloadHref1}">
          <svg class="icon icon--12" aria-hidden="true">
            <use href="#icon-download"></use>
          </svg>
          <div class="btn__label">다운로드</div>
        </a>
        <a class="btn btn--text" href="{previewHref1}">
          <svg class="icon icon--12" aria-hidden="true">
            <use href="#icon-document"></use>
          </svg>
          <div class="btn__label">바로보기</div>
        </a>
      </div>
    </div>
  </div>
  <div class="detail-view--content-file-list">
    <div class="detail-view--content-file-list-item">
      <span class="detail-view--content-file-list-item-name">
        <svg class="icon icon--20" aria-hidden="true">
          <use href="#icon-attach"></use>
        </svg>
        {file2}
      </span>
      <div class="action-list">
        <a class="btn btn--text" href="{downloadHref2}">
          <svg class="icon icon--12" aria-hidden="true">
            <use href="#icon-download"></use>
          </svg>
          <div class="btn__label">다운로드</div>
        </a>
        <a class="btn btn--text" href="{previewHref2}">
          <svg class="icon icon--12" aria-hidden="true">
            <use href="#icon-document"></use>
          </svg>
          <div class="btn__label">바로보기</div>
        </a>
      </div>
    </div>
  </div>
</div>
