<div class="custom-table-list__item {variantClass}">
  <div class="custom-table-list__cell custom-table-list__cell--category">{category}</div>
  <div class="custom-table-list__cell custom-table-list__cell--title">
    <div class="badge badge--white">{badge}</div>
    <span>{title}</span>
  </div>
  <div class="custom-table-list__cell custom-table-list__cell--consult">{advisor}<span class="only-mo">자문위원</span></div>
  <div class="custom-table-list__cell custom-table-list__cell--consult">{consultType}</div>
  <div class="custom-table-list__cell custom-table-list__cell--date">{date}</div>
  <div class="custom-table-list__cell custom-table-list__cell--count">{likeCount}</div>
  <div class="custom-table-list__cell custom-table-list__cell--count">{viewCount}</div>
</div>
