<div class="custom-table custom-table--consult-case {variantClass}">
  <div class="title-group title--subtitle">
    <h2 class="title-group__title">{resultTitle}</h2>
  </div>
  <div class="custom-table-head">
    <div class="custom-table-head__cell custom-table-head__cell--category">상담분야</div>
    <div class="custom-table-head__cell custom-table-head__cell--title">상담내용</div>
    <div class="custom-table-head__cell custom-table-head__cell--consult">자문위원</div>
    <div class="custom-table-head__cell custom-table-head__cell--consult">상담유형</div>
    <div class="custom-table-head__cell custom-table-head__cell--date-sm">등록일</div>
    <div class="custom-table-head__cell custom-table-head__cell--count">추천수</div>
    <div class="custom-table-head__cell custom-table-head__cell--count">조회수</div>
  </div>
  <div class="custom-table-list">
    {rowsHtml}
  </div>
</div>
