<div class="breadcrumb-group {variantClass}">
  <ul class="breadcrumb-group__list">
    <li class="breadcrumb-group__item breadcrumb-group__item--home">
      <button type="button" class="breadcrumb-group__depth" aria-label="홈">
        <svg class="icon" aria-hidden="true">
          <use href="#icon-home"></use>
        </svg>
      </button>
    </li>
    <li class="breadcrumb-group__item">
      <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
      <button type="button" class="breadcrumb-group__depth">
        <span class="breadcrumb-group__text">{item1}</span>
      </button>
    </li>
    <li class="breadcrumb-group__item">
      <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
      <button type="button" class="breadcrumb-group__depth">
        <span class="breadcrumb-group__text">{item2}</span>
      </button>
    </li>
    <li class="breadcrumb-group__item">
      <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
      <button type="button" class="breadcrumb-group__depth">
        <span class="breadcrumb-group__text">{item3}</span>
      </button>
    </li>
    <li class="breadcrumb-group__item">
      <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
      <button type="button" class="breadcrumb-group__depth">
        <span class="breadcrumb-group__text">{item4}</span>
      </button>
    </li>
    <li class="breadcrumb-group__item">
      <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
      <button type="button" class="breadcrumb-group__depth">
        <span class="breadcrumb-group__text">{item5}</span>
      </button>
    </li>
  </ul>
</div>
