<div class="detail-view--content-header {variantClass}">
  <div class="detail-view--content-header-text">
    <div class="detail-view--content-header-title">
      <div>
        <div class="title-group title--content">
          <div class="board-list__type">
            <div class="badge-wrap">
              <div class="badge badge--blue">{badge1}</div>
              <div class="badge badge--gray">{badge2}</div>
              <div class="badge badge--gray">{badge3}</div>
            </div>
          </div>
          <h2 class="title-group__title">{title}</h2>
        </div>
        <div class="title-group title--info content-card__meta">
          <div class="title-group__text">{meta1}</div>
          <div class="title-group__text">{meta2}</div>
          <div class="title-group__text">{meta3}</div>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn--like">
          <svg class="icon" aria-hidden="true">
            <use href="#icon-thumb-up"></use>
          </svg>
          <span class="btn__label">{likeCount}</span>
        </button>
      </div>
    </div>
  </div>
</div>
