<div class="input-field {variantClass}">
  <label class="input-field__label">{label}</label>
  <div class="input-field__inputs">
    <div class="input-group" data-js="inputGroup">
      <div class="input input--lg">
        <input type="text" placeholder="{searchPlaceholder}" value="{addressValue}" readonly disabled />
      </div>
      <button type="button" class="btn btn--tertiary btn--lg" data-js="button">
        <span class="btn__label">{searchLabel}</span>
      </button>
    </div>
    <div class="input-group" data-js="inputGroup">
      <div class="input input--lg">
        <input type="text" value="{roadValue}" aria-label="도로명 주소" readonly disabled />
      </div>
    </div>
    <div class="input-group" data-js="inputGroup">
      <div class="input input--lg">
        <input type="text" placeholder="{detailPlaceholder}" value="{detailValue}" />
      </div>
    </div>
  </div>
</div>
