<div class="action-box {variantClass}">
  <div class="action-box__body">
    <div class="terms-area">
      <label class="ui-checkbox ui-checkbox--all">
        <input class="ui-checkbox__input" type="checkbox" />
        <span class="ui-checkbox__control" aria-hidden="true"></span>
        <span class="ui-checkbox__label">{allLabel}</span>
      </label>
      <ul class="terms-area__detail-list">
        {itemsHtml}
      </ul>
      <div class="content-box__text-sub">
        <p class="bullet-item">{helper}</p>
      </div>
    </div>
  </div>
</div>
