<div class="input-field {variantClass}">
  <label class="input-field__label">{label}</label>
  <div class="input-group email-field" data-js="inputGroup">
    <div class="input input--lg">
      <input type="text" placeholder="{idPlaceholder}" value="{idValue}" />
    </div>
    <span class="input-group__addon">@</span>
    <div class="input input--lg">
      <input type="text" placeholder="{domainPlaceholder}" value="{domainValue}" />
    </div>
    <div class="select input input--lg w-full-mo">
      <select aria-label="{label}">
        <option value="" class="is-selected">{selectLabel}</option>
        <option value="naver.com">naver.com</option>
        <option value="gmail.com">gmail.com</option>
        <option value="daum.net">daum.net</option>
        <option value="hanmail.net">hanmail.net</option>
      </select>
    </div>
  </div>
</div>
