<div class="accordion accordion--notice accordion__item is-open {variantClass}" data-js="accordion">
  <button type="button" class="accordion__button" aria-expanded="true">
    <span class="accordion__trigger-text">{title}</span>
    <svg class="icon accordion__icon icon--20" aria-hidden="true">
      <use href="#icon-chevron-down"></use>
    </svg>
  </button>
  <div class="accordion__content" role="region" aria-hidden="false">
    <div class="accordion__content-inner">
      {contentHtml}
    </div>
  </div>
</div>
