<nav class="pagination {variantClass}" aria-label="페이지 네비게이션">
  <button type="button" class="pagination__btn pagination__btn--prev" aria-label="이전 페이지">
    <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-left"></use></svg>
    <span>이전</span>
  </button>
  <ul class="pagination__list">
    <li class="pagination__item">
      <button type="button" class="pagination__link is-active" aria-current="page">{page1}</button>
    </li>
    <li class="pagination__item">
      <button type="button" class="pagination__link">{page2}</button>
    </li>
    <li class="pagination__item">
      <button type="button" class="pagination__link">{page3}</button>
    </li>
    <li class="pagination__item">
      <button type="button" class="pagination__link">{page4}</button>
    </li>
    <li class="pagination__item">
      <button type="button" class="pagination__link">{pageLast}</button>
    </li>
  </ul>
  <button type="button" class="pagination__btn pagination__btn--next" aria-label="다음 페이지">
    <span>다음</span>
    <svg class="icon icon--16" aria-hidden="true"><use href="#icon-chevron-right"></use></svg>
  </button>
</nav>
